.tracks {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__controller {
    display: flex;
    align-items: center;
    width: 100%;

    gap: $xl-size;
    padding: $lg-size 0;
    button {
      padding: $md-size $lg-size;
    }
  }

  &__beats {
    display: flex;
    align-items: center;
  }
  &__beat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: $md-size;
    padding: $md-size 0;
  }

  &__minus-tracks {
    cursor: pointer;
    background: none;
    border: 0;
    &__icon {
      color: #ed4343;
    }

    &:disabled > * {
      display: none;
    }
  }
  &__plus-tracks {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__bpm {
    &-container {
      max-width: 420px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-input {
      width: 100%;
    }

    &-value {
      font-size: 14px;
    }
  }
}
