.beat {
  $beat-height: 32px;
  display: flex;
  align-items: center;
  gap: $xl-size;
  height: 32px;

  &__select {
    height: inherit;
    select {
      border: 0;
      background-color: transparent;
      font-weight: bold;
      font-size: 16px;
      height: inherit;
      padding-left: $sm-size;
    }
  }

  &__tempo {
    height: inherit;
    display: flex;
    flex: 1;

    label {
      display: flex;
      height: $beat-height;
      width: $beat-height;
      border-radius: 6px;
      margin-right: $sm-size;
      cursor: pointer;
      box-shadow: inset 1px 1px 3px 0px;
      &:nth-of-type(4n) {
        margin-right: $lg-size;
      }
    }
    input {
      display: none;

      &:checked + label {
        box-shadow: 1px 1px 3px 0px;
        background: blue;
      }
      &:disabled + label {
        background: #ccc;
        border: none;
      }
    }
  }
}
